main {
  section {
    display: flex;
    .block {
      height: 7.5rem;
      width: 7.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      .hero {
        height: 5rem;
        width: 5rem;
        background: url(../images/popCatShut.png) 0 0;
        background-size: cover;

        &.popCat {
          background: url(../images/popCatOpen.png) 0 0;
          background-size: cover;
        }
      }
    }

    .wall {
      background-color: black;
    }

    .path {
      background-color: white;
    }

    .start {
      background-color: yellowgreen;
    }

    .treasure {
      background-color: yellow;
    }

    .border {
      transition: all 0.75s ease-in-out;
      &.active {
        background-color: rgb(125, 44, 255);
      }
    }

    .timer {
      height: 6.5rem;
      width: 6.5rem;
      border: 5px rgb(255, 0, 0) solid;
      font-size: 32px;
      color: rgb(0, 0, 0);
    }
  }
}
